{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Symfony Index Page</h1>

        <nav class="nav">
            <a href="{{ path('vue') }}" class="nav__link">go to Vue page</a>
        </nav>
    </div>
{% endblock %}